<div class="row justify-content-center">
  <div class="col-8">
    <%= title 'Questionário sobre Sustentabilidade financeira' %>
    <hr>
    <%= render 'form', business: @resources %>
  </div>
</div>